annotated-types==0.7.0
attrs==24.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
configparser==7.1.0
deprecation==2.1.0
idna==3.10
lance==1.2.1
lancedb==0.15.0
numpy==1.26.4
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pyarrow==18.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pylance==0.19.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
shutils==0.1.0
six==1.16.0
tqdm==4.66.6
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uuid==1.30
